<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:component-scan base-package="com.somnus.solo.memcached" />
	
	<!-- application 上下文 -->
    <bean class="com.somnus.solo.support.holder.ApplicationContextHolder"/>
    
    <context:property-placeholder
			ignore-unresolvable="true" location="classpath:message/memcached.properties" />
	
	<bean id="memcachedClient" name="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<property name="servers" value="${memcached.server}" />
		<property name="protocol" value="BINARY" />
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<property name="opTimeout" value="2000" />
		<property name="timeoutExceptionThreshold" value="1998" />
		<!-- <property name="hashAlg" value="KETAMA_HASH" /> -->
		<property name="locatorType" value="CONSISTENT" />
		<property name="failureMode" value="Redistribute" />
		<property name="useNagleAlgorithm" value="false" />
	</bean>
	
	<bean id="cacheManager" class="com.somnus.solo.memcached.MemcachedCacheManager">
    	<property name="memcachedClient" ref="memcachedClient" />
    	<property name="expireMap">
            <map>
                <entry key="cache.somnus.account" value="3600" />
            </map>
        </property>
	</bean>
	<cache:annotation-driven cache-manager="cacheManager"/> 
	
</beans>